
.nav {
  margin: 10px;
  width: auto;
  display: block;
  padding: 5px;
  background-color: rgb(255, 165, 0);
}
.footer {
  background-color: rgb(165, 42, 42);
  margin: 10px;
  display: block;
  padding: 5px;
}
.left_info, .description, .right_info{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  height: 1000px;
}
.left_info {
  background-color: rgb(123, 104, 238);
  width: 25%;
}
.description {
  background-color: rgb(255, 0, 0);
  width: 40%;
}
.right_info {
  background-color: rgb(95, 158, 160);
  width: 25%;
}

